################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CardSort/CardSort/Debug
/CardSort/CardSort/CardSort/Debug
/CardSort/CardSort/.vs/CardSort/v16
